# Jet
# A lightweigth and fast framework for developper who don't need hundred of files
# @package  Jet
# @author   Jérémy Barbe
# @license  BSD
# @link     https://github.com/CapMousse/Jet
# @version  1

Options +FollowSymLinks +ExecCGI

###############################################################
###############################################################
#### for people who use OVH, just uncomment thoses 3 lines ####
###############################################################
###############################################################

#SetEnv REGISTER_GLOBALS 0
#SetEnv PHP_VER 5
#SetEnv MAGIC_QUOTES 0

RewriteEngine on

AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js .xml .json .rss
ServerSignature Off

DirectoryIndex index.php
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]